.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url("/library.jpg");
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.content-box {
  background-color: rgb(235, 174, 94);
  width: 50%;
  border-radius: 5px;
  border-width: none;
  border-color: black;
  box-shadow: 4px 6px 5px rgb(21, 16, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.heading {
  margin: 0;
  color: aliceblue;
  text-shadow: 1px 1px black;
  padding: 4px;
  font-size: 25px;
}

.input-item {
  display: block;
  margin-top: 25px;
  height: 8px;
  background-color: white;
  border-radius: 4px;
  border: none;
  padding: 20px;
}
.input-item:hover {
  border-bottom: 1px solid black;
}

.input-item:focus-visible {
  outline: 0;
}

.password-img {
  display: flex;

  position: relative;
}

.password-login-icon {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  position: absolute;
  right: 10 !important;
  top: 38 !important;
}

.btw-login {
  background-color: black;
  color: bisque;
  margin-top: 20px;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 57px;
  box-shadow: 1px 2px 2px rgb(211, 175, 68);
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.create-account {
  margin-top: 10px;
  font-size: 20px;
}

.signup-link {
  margin-top: 12px;
  font-size: 18px;
  color: azure;
}
.signup-link:hover {
  text-decoration: underline;
  color: antiquewhite;
  font-size: 20px;
}
