.main-container-full {
  align-items: center;
  flex-direction: column;
}
.search-bar {
  align-items: center;
  width: 500px;
  height: 30px;
  padding: 5px 15px 5px 15px;
  margin-left: 300px;
  border-radius: 30px;
  border: none;
  box-shadow: 3px 3px 3px black;
  background-color: white;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 3px 4px 4px #0a0a0a;
  padding: 15px 15px 15px 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: white;
}
.card-image {
  width: 140px;
  height: 190px;
}

.button-book {
  margin-top: 50px;
  box-shadow: 3px 3px 2px rgb(9, 9, 9);
  padding: 5px 15px 5px 15px;
  background-color: white;
  color: black;
  font-weight: 700;
}
